<h1>Cadastrar Livro</h1>

<form action="/books/insert" method="POST">
  <input type="text" name="title" placeholder="Digite o nome do título">
  <input type="number" name="pageqty" placeholder="Digite o número de páginas">
  <input type="submit" value="Cadastrar">
</form>