<h1>Cadastrar usuário</h1>

<h2>Usuário:</h2>
<form action="/users/create" method="POST">
  <input type="text" name="name" placeholder="Digite seu nome">
  <input type="text" name="occupation" placeholder="Digite sua profissão">
  <input type="checkbox" name="newsLetter" checked>
  <hr>
  <h2>Endereço:</h2>
  <input type="text" name="street" placeholder="Digite o nome da sua rua">
  <input type="text" name="number" placeholder="Digite o número">
  <input type="text" name="city" placeholder="Digite a cidade">
  <hr>
  <input type="submit" value="Cadastrar">
<form/>