<h1>Cadastrar Livros:</h1>
<hr>
<form action="/books/insert" method="POST">
<input type="text" name="title" placeholder="Digite o título">
<input type="number" name="pageqty" placeholder="Digite número de páginas">
<input type="submit" value="Cadastrar">
</form>