<form action="/users/register" method="post">
  <label for="name">Nome:</label>
  <input type="text" name="name"><br>
  <label for="occupation">Ocupação:</label>
  <input type="text" name="occupation"><br>
  <input type="checkbox" name="newsLetter" checked>
  <label for="newsLetter">Enviar promoções?</label>
  <input type="submit" value="Enviar">
</form>