<form action="/{{user.id}}" method="post">
  <input type="text" name="name" value="{{user.name}}">
  <input type="text" name="occupation" value="{{user.occupation}}">
  {{#if user.newsLetter}}
  <input type="checkbox" name="newsLetter" checked>
  {{else}}
  <input type="checkbox" name="newsLetter">
  {{/if}}
  <input type="submit" value="Editar">
</form>